h1, h3 {
  font-family: 'Syncopate', sans-serif;
  color: #326273;
  text-shadow: 2px 2px 2px #EEE;
  margin-left: 1em;
}
h2 {
  font-family: 'Syncopate', sans-serif;
}
.header, .footer {
  display: flex;
  width: 100%;
  background-color: #E39774;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navlink{
  margin: 1em;
  pading: 1em;
}
.navlink a {
  text-decoration: none;
  color: #EEE;
  font-family: 'Padauk', sans-serif;
}
.navlink a:hover {
  background-color: #EEE;
  color: #E39774;
}
.container, .quotes {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  margin-top: 2em;
  padding: 30px;
  width: 80%;
  height: 300px;
  overflow: scroll;
  color: #eee;
  font-family: 'Padauk', sans-serif;
}
.container {
  background-color: #326273;
}
.quotes {
  background-color: #E39774;
  flex-direction: row;
}
.quotes p {
  padding: 2em;
}
.faves {
  display:flex;
  flex-direction: column;
  text-align: center;
}
.grid {
  display:flex;
  flex-wrap: wrap;
  align-self: center;
  align-content: space-evenly;
  width: 80%;
  border: 1px solid #326273;
  margin: 2em;
}
.grid img {
  padding: 2em;
}
.faves h2 {
  color: #326273;
}
.footer {
  position: fixed;
  bottom:0;
  border: 1px solid #326273;
}
.requestform{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  font-family: 'Padauk', sans-serif;
}
.requestform p {
  margin-top: 0;
}
li {
  list-style: none;
}
.gameinfo .container {
  height: 100px;
  text-align: center;
  background-color: #E39774;
}
.gameinfo img {
  width: 80%;
  height: 300px;
  margin: 0 auto;
}
.gameinfo {
  text-align: center;
  margin: 1em;
}
.btn {
  background-color: #5C9EAD;
  border: 2px solid #326273;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  height: 40px;
  width: 150px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  margin: 5px;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.trailer {
  width: 80%;
  margin: 2em;
}
.vid {
  width: 100%;
  height: 500px;
  margin-left: 7em;
}
.formContainer {
  text-align: center;
  margin: 1em;
  padding: 10px;
}
